body, html {scroll-behavior: smooth;}
body * {transition: all 0.3s; overflow: hidden;}
#wrap {min-height: 100vh; overflow: hidden;}
/* max-width: 1280px; min-width: 430px; overflow: hidden; margin: 0 auto; padding: 160px 0 80px; */